@{
    ViewBag.Title = "Email megerősítése";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Köszönjük email-címének megerősítését. Kérjük @Html.ActionLink("Kattintson ide a bejelentkezéshez", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
