@{
    ViewBag.Title = "Elfelejtett jelszó megerősítés";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Kérjük ellenőrizze email fiókját jelszava megújításához.
    </p>
</div>
	
