@{
    ViewBag.Title = "Jelszómegújítás megerősítése";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Jelszavát megújítottuk. Kérjük, @Html.ActionLink("kattintson ide a bejelentkezéshez", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
