@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div id="map_canvas">
    <h3>Itt találhat meg minket!</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d238.81982610317542!2d18.90460570135676!3d47.37413057111271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4778f212a36afcc2!2s%C3%89rd+Ar%C3%A9na+Sportcsarnok+%C3%A9s+Uszoda!5e0!3m2!1sen!2shu!4v1480271307442" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div> 