@{
    ViewBag.Title = "Kezdőoldal";
}

<div class="jumbotron">
    <h1>Üdvözöljük az Érdi Étterem Honlapján!</h1>
    <p>[Ide egy kép jön!]</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nem regisztrált még nálunk?</h2>
        <p>@Html.ActionLink("Regisztráljon most!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Már regisztrált nálunk?</h2>
        <p>@Html.ActionLink("Jelentkezzen be!", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Kérdése van?</h2>
        <p>@Html.ActionLink("Lépjen velünk kapcsolatba!", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "contactLink", @class = "btn btn-default" })</p>
    </div>
</div>