@model Thesis.Models.Company

@{
    ViewBag.Title = "Részletek";
}

<h2>Részletek</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Módosítás", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Vissza a listához", "Index")
</p>
